.wrapper
	.content
		header.hero-section
			figure.hero-img(data-speed=".6")
				img(src="images/hero.png", alt="Hero image")
			section.container
				header.main-header(data-speed=".75")
					h1.main-title creative Scroll

		main
			section.portfolio
				section.container
					div.gallery
						div.gallery__left(data-speed=".9")
							figure.gallery__item
								img(src="images/work/1.jpg", alt="Project 1")
							figure.gallery__item
								img(src="images/work/2.jpg", alt="Project 2")
							article.text-block.gallery__item
								h2.text-block__h Creative Floating Scroll with Amazing Parallax Effect
								p.text-block__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling
							figure.gallery__item
								img(src="images/work/6.jpg", alt="Project 6")
						div.gallery__right(data-speed="1.1")
							article.text-block.gallery__item
								h2.text-block__h Creative Floating Scroll with Amazing Parallax Effect
								p.text-block__p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor amount scrolling
							figure.gallery__item
								img(src="images/work/4.jpg", alt="Project 4")
							figure.gallery__item
								img(src="images/work/5.jpg", alt="Project 5")
							figure.gallery__item
							img(src="images/work/3.jpg", alt="Project 3")
